
img {
  max-width: 100%;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fdf6f0;
  color: #5a3825;
  line-height: 2;
}

header {
  background-color: #a47148;
  color: #fff;
  text-align: center;
  padding: 1%;
  position:sticky;
}

h1 {
  margin-bottom: 20px;
}
.navbar {
  display: flex;
  justify-content: space-evenly; 
  align-items: center;
  padding: 15px 40px; 
}
.nav-links a {
  margin-right: 25px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  transition: transform 0.25s ease color 0.25s ease;
  
}
.resume-btn {
  padding: 8px 18px;
  background-color: #f9ebeb;  /* change to your preferred color */
  color: #a47148;;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}
.resume-btn:hover {
  background-color: #e3d0c5;
}

.nav-links a:hover {
  text-decoration: underline;
  transform: scale(1.15);
} 

.about-id {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: center;
  padding: 60px 20px;
  background: #f5f2ed;
}

/* ID Card Container */
.id-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  perspective: 1000px; 
}

/* Fake Lanyard Strap */
.lanyard {
  width: 10px;
  height: 100px;
  background: #77533d;
  border-radius: 5px;
  margin-bottom: -20px;
  z-index: 10;
}

/* Badge Body */
.badge {
  background: #fff;
  border: 2px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(97, 6, 6, 0.2);
  width: 390px;
  text-align: center;
  padding: 15px;
  transform: rotate(-6deg) skewY(6deg);
  transform-origin: top center;
  animation: swing 2.4s ease-in-out infinite alternate;
}

.badge img {
  width: 115%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.badge h3 {
  margin: 5px 0;
  font-size: 1.2rem;
  color: #333;
}

.badge p {
  font-size: 0.9rem;
  color: #777;
}
 @keyframes swing {
  0%   { transform: rotate(-10deg); }
  50%  { transform: rotate(10deg) ;}
  100% { transform: rotate(-10deg); }
}

.about-text {
  max-width: 500px;
  font-family: 'poppins',sans-serif;
  line-height: 1.5;
  color: #444;
  color: #5a3825;
}
.about-text h2{
  color: #7a5c5c;
  font-style: italic;
  margin-bottom: 20px;

}
.about-text p{
  margin-bottom: 18px;
  font-size: 1rem;
}
.about-text .highlight {
  color: #6b3719; 
  font-weight: 500;
}
.about-text strong {
  color: #6b3719;
  font-weight: 600;
}
.about-text .btn {
  display: inline-block;
  padding: 10px 20px;
  background: #a47148;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  margin-top: 8%;
  justify-content: center;
  transition: 0.2s;
}
.about-text .btn:hover {
  background: #5a3825;
  transform: scale(1.05);
  box-shadow: 0 6px 18px rgba(0,0,0,0.2);
}

h2 {
  color: #2c3e50;
  margin-bottom: 20px;
}

/* To have typing effect to my name*/
.typing-effect{
  font-family: cursive;
  display:inline-block;
  border-right:3px solid #333;
  white-space: nowrap;
  overflow: hidden;
  animation:typing 8s steps(50,end) infinite, blink 0.7s step-end infinite;
}
@keyframes typing{
  from {width:0;}
  to {width:45%;}
}
@keyframes blink {
  from, to { border-color: transparent; }
  50% { border-color: #333; }
}

/* Project part */
.projects {
  padding:80px 20px;
  background: #e3d1be ;
  text-align: center;
}
.projects-heading{
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  font-style: italic;
  margin-bottom: 50px;
  color: #4b2e2e;
}
.projects h2{
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #4b2e2e;
}
.projects .subtitle{
  font-size:1.5rem;
  margin-bottom: 50px;
  color: #7a5c5c;
  font-style: italic;
}
.projects-grid {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  gap: 70px;
  flex-wrap: wrap;
}
.project-card {
  position: relative;
  width: 340px;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.10s;
}
.project-card:hover{
  transform: scale(1.1);
}

.project-card img {
  margin-top: 5%;
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 4px;
}

.card-title {
  position: absolute;
  top: -18px;
  
  background: #f7e9dc;
  padding: 6px 25px;
  font-weight: bold;
  border-radius: 6px;
  font-size: 0.95rem;
  color: #333;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.project-card.beige { background: #CCD1F0;}
.project-card.brown { background:#BBDCE5;}
.project-card.dark{ background: #F5BABB; color: #fff;}

/* certiificates */
.certificate-section{
  text-align: center;
  background: #f7f5f0;
  padding:100px 20 px;
}
.certiheading{
  color: #4b2e2e;
  margin-top: 11px;
  font-style: italic;
  font-size:2.5rem

}
.certificate-slider{
  display:flex;
  align-items: center;
  justify-content: center;
  gap:100px;
  position: relative;
}
.certificate-container{
  width:550px;
  height:400px;
  overflow:hidden;
  border-radius: 20px;
  box-shadow:  0 10px 25px rgba(97, 6, 6, 0.2);  
  position: relative;
}
.certificate-container img{
  width:100%;
  height:100%;
  opacity: 0;
  position:absolute;
  transition: opacity 0.6s ease-in-out;
}
.certificate-container img.active{
  opacity:1;
  position:relative;
}
.arrow{
  font-size:3rem;
  cursor:pointer;
  color: #6b4f3b;
  transition: 0.3s;
}
.arrow:hover{
  transform: scle(1.2);
  color: #b08c74;
}

/* contact section's style */
.contact-form {
  background: #e3d1be ;
  padding: 80px 20%;
  text-align: center;
  margin-top: 5%;
}

.contact-heading{
  font-family: "Dancing Script", cursive;
  font-size:2rem;
  font-style: italic;
  color: #4b2e2e;
}
.contact-form p{
  color: #4b2e2e;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 500;
}
.contact-form form {
  max-width:600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 6%;
}

.contact-form input, 
.contact-form textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-family: 'Poppins', sans-serif;
  outline: none;
}

.contact-form button {
  background: #a47148;
  border: none;
  padding: 12px;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  transform: scale(1.1);
}


/* footer */
.footer {
  background: #f8f4ef;
  color: #6b4f3b;
  text-align: center;
  padding: 25px 0 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 0.95rem;
  border-top: 1px solid #e0d6cc;
  animation: fadeIn 1s ease-in;
}

.footer .social-links {
  margin-bottom: 10px;
}

.footer .social-links a {
  color: #6b4f3b;
  margin: 0 10px;
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;
}

.footer .social-links a:hover {
  color: #b08c74;
  transform: scale(1.5);
}

.footer .copyright {
  font-size: 11px;
}


/* SPLASH SCREEN (Cover Page) */
/* Full-screen Cover Page */
#splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  overflow: hidden;
  animation: fadeOut 1s ease forwards;
  animation-delay: 2.5s;
}

#splash-screen img {
  width: 100%;
  height: 100%;
  object-fit: contain;   /* 🔥 Ensures full image covers screen */
  object-position: center center ;
  display: block;
  background-color: #edc6bf;
}

/* Fade out animation */
@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@media (max-width: 768px) {
  #splash-screen img {
    object-fit: contain; /* Show whole image on mobile */
    background-color: black; /* fills empty space */
  }
}

@media (max-width: 768px) {

  /* Navbar */
  .navbar {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
  .nav-links {
    flex-direction: column;
    gap: 8px;
  }

  .resume-btn {
    margin-top: 10px;
  }

  /* About section */
  .about-id {
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }

  .about-text h2 {
    font-size: 24px;
  }

  .about-text p {
    font-size: 16px;
  }

  /* Project grid */
  .projects-grid {
    grid-template-columns: 1fr; /* One card per row */
  }

  .project-card img {
    width: 100%;
    height: auto;
  }

  /* Certificate slider */
  .certificate-container img {
    width: 90%;
    margin: auto;
  }

  /* Contact form */
  .contact-form form {
    width: 90%;
    margin: auto;
  }
}
